h1 {
  color: red;
  font-family: sans-serif;
  text-align: center;
}


h2 {
  font-style: italic;
  text-align: center;
  font-family: sans-serif;
}

p {
  font-size: 25px;
  font-family: sans-serif;
  text-align: center;
}

ul {
  font-family: sans-serif;
  font-size: 20px;
  line-height: 30px;
  list-style-position: inside;
  text-align: center;
}


img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
html {
  background-color: #A9A9A9;
}
